@import url("https://fonts.googleapis.com/css2?family=Metrophobic&family=Share+Tech+Mono&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap");
.about {
  display: flex;
  flex-direction: column;
  width: 95%; }
  .about > * {
    /* tt les enfants de .about (parent) */
    margin: 0px; }
  .about .about--main-title {
    padding-left: 5px; }
  .about .about--main-title::before {
    display: none; }
  .about .about--title-div {
    display: flex; }
    .about .about--title-div .about--title-div--hr {
      width: 110px;
      height: 0.0001rem;
      margin: 0 10px 0 0;
      align-self: center; }
    .about .about--title-div .about--title-div--second-title {
      margin: 0; }
    .about .about--title-div .about--title-div--second-title::before {
      display: none; }
  .about .about--description {
    padding-left: 122px;
    font-size: 0.6875rem;
    margin-bottom: 5px; }
  .about .about--list {
    padding-left: 122px;
    display: flex;
    list-style-type: none;
    font-size: 0.5625rem;
    margin-bottom: 5px; }
    .about .about--list .about--list--element {
      margin-right: 5px; }

.hobby {
  display: flex;
  flex-direction: column; }
  .hobby > * {
    /* tt les enfants de .hobby (parent) */
    margin: 0px; }
  .hobby .hobby--main-title {
    padding-left: 5px; }
  .hobby .hobby--main-title::before {
    display: none; }
  .hobby .hobby--title-div {
    display: flex; }
    .hobby .hobby--title-div .hobby--title-div--hr {
      width: 75px;
      height: 0.0001rem;
      align-self: center; }
    .hobby .hobby--title-div .hobby--title-div--hr__left {
      margin: 0 10px 0 0; }
    .hobby .hobby--title-div .hobby--title-div--hr__right {
      margin: 0 0 0 10px; }
    .hobby .hobby--title-div .hobby--title-div--second-title {
      margin: 0; }
    .hobby .hobby--title-div .hobby--title-div--second-title__right::after {
      display: none; }
    .hobby .hobby--title-div .hobby--title-div--second-title__left::before {
      display: none; }
  .hobby .hobby--title-div__right {
    align-self: flex-end; }
  .hobby .hobby--title-div__left {
    align-self: flex-start; }
  .hobby .hobby--description {
    font-size: 0.6875rem;
    margin-bottom: 5px; }
  .hobby .hobby--description__left {
    padding-left: 87px; }
  .hobby .hobby--description__right {
    padding-right: 87px;
    text-align: right; }
  .hobby .hobby--image {
    width: 69%;
    margin: 10px; }
  .hobby .hobby--image__right {
    align-self: flex-end; }

.portfolio {
  display: flex;
  flex-direction: column; }
  .portfolio > * {
    /* tt les enfants de .portfolio (parent) */
    margin: 0px; }
  .portfolio .portfolio--main-title {
    padding-left: 5px; }
  .portfolio .portfolio--main-title::before {
    display: none; }
  .portfolio .portfolio--title-div {
    display: flex; }
    .portfolio .portfolio--title-div .portfolio--title-div--hr {
      width: 75px;
      height: 0.0001rem;
      align-self: center; }
    .portfolio .portfolio--title-div .portfolio--title-div--hr__left {
      margin: 0 10px 0 0; }
    .portfolio .portfolio--title-div .portfolio--title-div--hr__right {
      margin: 0 0 0 10px; }
    .portfolio .portfolio--title-div .portfolio--title-div--second-title {
      margin: 0; }
    .portfolio .portfolio--title-div .portfolio--title-div--second-title__left::before {
      display: none; }
    .portfolio .portfolio--title-div .portfolio--title-div--second-title__right::after {
      display: none; }
  .portfolio .portfolio--title-div__right {
    align-self: flex-end; }
  .portfolio .portfolio--title-div__left {
    align-self: flex-start; }
  .portfolio .portfolio--description {
    font-size: 0.6875rem;
    margin-bottom: 5px; }
  .portfolio .portfolio--description__left {
    padding-left: 87px; }
  .portfolio .portfolio--description__right {
    padding-right: 87px;
    text-align: right; }
  .portfolio .portfolio--image {
    width: 90%;
    margin: 10px 5% 10px 5%; }

.text-style {
  color: #FF9900; }

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#000000, #3c3c3c);
  color: white;
  font-family: "Ubuntu Mono", monospace; }

h2 {
  font-size: 1.75rem;
  font-weight: normal;
  font-family: "Share Tech Mono", monospace; }

h2::after {
  content: "/>";
  color: #FF9900; }

h2::before {
  content: "<";
  color: #FF9900; }

h3 {
  font-size: 0.9375rem;
  font-weight: normal;
  font-family: "Share Tech Mono", monospace; }

h3::after {
  content: "/>";
  color: #FF9900; }

h3::before {
  content: "<";
  color: #FF9900; }

hr {
  color: #FFC700; }

ul {
  font-family: "VT323", monospace;
  color: #FFC700; }
