$main-title-font : 'Metrophobic', sans-serif;
$second-title-font : 'Share Tech Mono', monospace;
$content-font : 'Ubuntu Mono', monospace;
$list-font : 'VT323', monospace;
//FONTS


$orange : #FF9900;
$yellow : #FFC700;
$grey : #3c3c3c;
$black : #000000;