.text-style {           //</ & > oranges
    color: $orange;  
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient($black, $grey);
    color: white;
    font-family: $content-font;
}

h2 {
    font-size: 1.75rem; // == 28px
    font-weight: normal;
    font-family: $second-title-font;
}

h2::after {
    content: "/>";
    color: $orange;  
}

h2::before {
    content: "<";
    color: $orange;
}

h3 {
    font-size: 0.9375rem; // == 15px
    font-weight: normal;
    font-family: $second-title-font;
}

h3::after {
    content: "/>";
    color: $orange;  
}

h3::before {
    content: "<";
    color: $orange;
}

hr {
    border-top: 1px solid $yellow;
}

ul {
    font-family: $list-font;
    color: $yellow;
}

img {
    max-width: 100%;
}