@media screen and (min-width: 900px) {
    .header {
        margin-top: 25px;
        margin-bottom: 10%;
        .navbar {
            font-size: 1.2rem;
            .header--logo {
                width: 150px;              
            }
        }
        .header--title-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            .header--portrait {
                width: 25%;
                margin-right: 10%;
            }
            .header--titles {
                position: absolute;
                width: 100%;

                .header--main-title {
                    font-size: 3rem;
                }
                .header--second-title {
                    font-size: 2rem;
                }  
                .header--paragraph {
                    font-size: 1.5rem;
                }
            }
        }
    }


    .about {
        width: 100%;
        .about--main-title {
            font-size: 3rem;
            width: 25%;
            text-align: right;
        }
        .about--title-div--second-title {
            font-size: 1.5rem;
        }
        .about--title-div--hr {
            width: 25% !important;
        }
        .about--description, .about--list{
            width: 60%;
            font-size: 1rem;
            padding-left: 25%;
            margin-left: 10px;
        }
    }


    .hobby {
        .hobby--main-title {
            font-size: 3rem;
            width: 25%;
            text-align: right;
        }
        .hobby--title-div--second-title {
            font-size: 1.5rem;
        }
        .hobby--title-div {
            display: flex;
            width: 100%;
        }
        .hobby--title-div__right {
            justify-content: flex-end;
        }
        .hobby--title-div--hr {
            width: 25% !important;
        }
        .hobby--description {
            width: auto;
            font-size: 1rem;
        }
        .hobby--description__left {
            padding-left: 25%;
            margin-left: 10px;    
        }
        .hobby--description__right {
            margin-right: 25%;
            padding-right: 10px;
        }
        
        .hobby--image {
            width: 60%;
        }
        .hobby--image__left {
            margin-left: 25%;
            padding-left: 10px;
        }
        .hobby--image__right {
            margin-right: 25%;
            padding-right: 10px;
        }
    }


    .portfolio {
        .portfolio--main-title {
            font-size: 3rem;
            width: 25%;
            text-align: right;
        }
        .portfolio--title-div--second-title {
            font-size: 1.5rem;
        }
        .portfolio--title-div {
            display: flex;
            width: 100%;
            margin-top: 4%;
        }
        .portfolio--title-div__right {
            justify-content: flex-end;
        }
        .portfolio--title-div--hr {
            width: 25% !important;
        }
        .portfolio--description {
            width: auto;
            font-size: 1rem;
        }
        .portfolio--description__left {
            padding-left: 25%;
            margin-left: 10px;    
        }
        .portfolio--description__right {
            margin-right: 25%;
            padding-right: 10px;
        }
    }

    
    .contact {
        .contact--title {
            font-size: 3rem;
            margin: 0;
        }
        .contact--title--hr {
            display: block;
            margin: auto;
        }
        .contact--form {
            width: 40%;
            margin: 10px auto 20px 10%;
        }
        .contact--title-div {
            width: 100%;
            display: flex;
            margin-top: 5%;
            .contact--title-div--hr {
                width: 25%;
            }
            .contact--title-div--second-title {
                font-size: 1.5rem;
            }
        }
        .contact--title-div__right {
            justify-content: flex-end;
        }
        .contact--info--list--container{
            height: 150px;
            margin-bottom: 5%;
            .contact--info--list {
                padding-right: 10px !important;
                margin-right: 25%;
                .contact--info--list--element {
                    font-size: 1rem;
                }
            }    
            .gmap {
                margin-left: 10%;
                height: 100%;
            }    
        }
    }
    

    .footer {
        .footer--reseaux{
            svg {
                width: 75px;
                margin: 0 40px;
            }
        }
        .copyright {
            font-size: 0.8rem;
        }
    }
}
@media screen and (min-width: 1440px) {
    body {
        width: 80%;
        margin: 0 auto;
        border: 1px $yellow solid;

    }
    .header {
        margin-bottom: 10%;
        .header--title-container {
            .header--portrait {
                width: 30%;
            }
            .header--titles {
                .header--main-title {
                    font-size: 5rem;
                }
                .header--second-title {
                    font-size: 3.5rem;
                }  
                .header--paragraph {
                    font-size: 2rem;
                }
            }
        }
    }


    .hobby {
        .hobby--img-container {
            display: flex;
            margin-left: 25%;
            padding-left: 10px;
            .hobby--image {
                width: 30%;     // image jeux videos
                margin: 1%;
            }
        }
        .hobby--image {
            width: 60%;
        }
    }


    .portfolio {
        .portfolio--title-div {
            margin-top: 10%;
        }
        .portfolio--title-div__start {
            margin-top: 0;
        }
    }


    .contact {
        .container--contact--title {
            margin-top: 100px;
        }
        .contact--info--list--container{
            height: 300px;
            margin-bottom: 10%;    
        }
        .contact--title-div {
            margin-top: 10%;
        }

    }
    

    .footer {
        .footer--reseaux{
            svg {
                width: 100px;
                margin: 0 40px;
            }
        }
        .copyright {
            font-size: 1rem;
        }
    }
}

@media screen and (min-width: 2000px) {
    body {
        width: 1600px;
    }
}