.about {
    background-color: $black;
    display: flex;
    flex-direction: column;
    width: 90%;

    &>* { /* tt les enfants de .about (parent) */
        color: white;
        font-family: $content-font;
        margin: 0px;
    }

    .about--main-title {
        font-size: 1.75rem; // == 28px
        font-weight: normal;
        font-family: $second-title-font;
    }

    .about--title-div {
        display: flex;

        .about--title-div--hr {
            width: 110px;
            color: $yellow;
            height: 0.0001rem;
            margin: 0 10px 0 0;
            align-self: center;
        }

        .about--title-div--second-title {
            margin: 0;
            font-size: 0.9375rem; // == 15px
            font-weight: normal;
            font-family: $second-title-font;
        }
    }

    .about--description {
        padding-left: 110+10+2px;  // 110px du hr width + 10 du hr margin + 2 des borders du hr
        font-size: 0.6875rem; // == 11px
        margin-bottom: 5px;
    }

    .about--list {
        padding-left: 110+10+2px;  // 110px du hr width + 10 du hr margin + 2 des borders du hr
        display: flex;
        list-style-type: none;
        font-size: 0.5625rem; // == 9px
        font-family: $list-font;
        color: $yellow;
        margin-bottom: 5px;
        .about--list--element {
            margin-right: 5px;
        }
    }

}