.container--contact--title {
    display: flex;
    align-items: center;
}

.contact--title--hr__left {
    width: 100%;
    height: 0.000001rem;
}

.contact--title--hr__right {
    width: 100%;
    height: 0.000001rem;
}



.contact--title-div {
    display: flex;

    

    .contact--title-div--hr {
        width: 75px;
        height: 0.0001rem;
        align-self: center;
    }

    .contact--title-div--hr__left {
        margin: 0 10px 0 0;
    }

    .contact--title-div--second-title {
        margin: 0;
    }

    .contact--title-div--second-title__left::before {
        display: none;
    }

}



.contact--form {
    display: flex;
    margin: 10px auto;
    flex-direction: column;
    width: 91.66%;
    justify-content: center;

}

.name-input {
    margin: 10px 0;
    height: 25px;
    font-size: 0.9375rem;
    font-family: $list-font;
    color: $yellow;
    background-color: $grey;
}

.email-input  {
    margin: 10px 0;
    height: 25px;
    font-size: 0.9375rem;
    font-family: $list-font;
    color: $yellow;
    background-color: $grey;
}

.message-input {
    margin: 10px 0;
    height: 100px;
    font-size: 0.9375rem;
    font-family: $list-font;
    color: $yellow;
    background-color: $grey;
}

.send-input {
    width: 33%;
    color: white;
    background-color: $orange;
    align-self: flex-end;
    cursor: pointer;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-family: $list-font;
    font-weight: 400;
}

.send-input:hover {
    background-color: $yellow;
}

.send-input::before {
    content: "<";
    color: white;
}

.send-input::after {
    content: "/>";
    color: white;  
}


.contact--info {
    display: flex;
    flex-direction: column;

    &>* { /* tt les enfants de .contact (parent) */
        margin: 0px;
    }
    .contact--title-div {
        display: flex;
        align-self: flex-end;

        

        .contact--title-div--hr {
            width: 75px;
            height: 0.0001rem;
            align-self: center;
            color: $yellow;
        }
        
        .contact--title-div--hr__right {
            margin: 0 0 0 10px;
        }

        .contact--title-div--second-title {
            margin: 0;
        }

        .contact--title-div--second-title__right::after {
            display: none;
        }

    }

    .contact--title-div__right {
        align-self: flex-end;
    }


    .contact--info--list--container {
        display: flex;
        justify-content: space-between;

        .contact--info--list {
            list-style-type: none;
            text-align: right;
            padding-right: 75+10+2px;  // 75px du hr width + 10 du hr margin + 2 des borders du hr;
            padding-left: 0;
            font-family: $content-font;
            font-size: 0.6875rem;
            color: white;
            width: auto;
            align-self: flex-end;
        }
    
        .contact--info--list--element__highlighted {
            color: $yellow;
        }
    
        .contact--info--list--element__adress::before {
            color: $yellow;
            font-size: 0.75rem;
            padding-right: 10px;
            content: "<<";
        }
    
        .gmap {
            width: 30%;
            height: 100px;
            padding-left: 15px;
        }
    }


}