.header {
    display: flex;
    flex-direction: column;
    color:white;

    .header--logo {
        width: 75px;
        background-color: black;
    }
    .header--title-container {
        margin-top: 45px;
        text-align: center;
        >* {
            margin: 0;
            font-family: $main-title-font;
        }
        .header--main-title {
            font-size: 2rem;
        }
        .header--second-title {
            font-size: 1.5rem;
        }
        .header--second-title::before {
            display: none;
        }
        .header--second-title::after {
            display: none;
        }
        .header--paragraph {
            font-size: 0.9rem;
        }
        .header--name {
            color: $orange;
        }
        .header--titles {
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            z-index: 1;
        }
        .header--portrait {
            width: 80%;
            margin: 10px 0 70px 0;
            filter: sepia(0.50);
        }
    }


}

.nav-link::after {
    content: "/>";
    color: $yellow;
}

.nav-link__svg::after {
    content: '';
    color: transparent;
}

.header--navbar--list--svg-cv {
    fill: $orange;
    width: 50px;
}

