.about {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 50px;

    &>* { /* tt les enfants de .about (parent) */
        margin: 0px;
    }

    .about--main-title {
        padding-left: 5px;
    }

    .about--main-title::before {
        display: none;
    }

    .about--title-div {
        display: flex;

        .about--title-div--hr {
            width: 110px;
            height: 0.0001rem;
            margin: 0 10px 0 0;
            align-self: center;
        }

        .about--title-div--second-title {
            margin: 0;
        }

        .about--title-div--second-title::before {
            display: none;
        }
        
    }

    .about--description {
        padding-left: 110+10+2px;  // 110px du hr width + 10 du hr margin + 2 des borders du hr
        font-size: 0.6875rem; // == 11px
        margin-bottom: 5px;
    }

    .about--description__uppercase {
        text-transform: uppercase;
    }

    .about--list {
        padding-left: 110+10+2px;  // 110px du hr width + 10 du hr margin + 2 des borders du hr
        display: flex;
        list-style-type: none;
        font-size: 0.5625rem; // == 9px
        margin-bottom: 5px;
        .about--list--element {
            margin-right: 5px;
        }
    }
}



.hobby {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    &>* { /* tt les enfants de .hobby (parent) */
        margin: 0px;
    }

    .hobby--main-title {
        padding-left: 5px;
    }

    .hobby--main-title::before {
        display: none;
    }

    .hobby--title-div {
        display: flex;

        

        .hobby--title-div--hr {
            width: 75px;
            height: 0.0001rem;
            align-self: center;
        }

        .hobby--title-div--hr__left {
            margin: 0 10px 0 0;
        }
        
        .hobby--title-div--hr__right {
            margin: 0 0 0 10px;
        }

        .hobby--title-div--second-title {
            margin: 0;
        }

        .hobby--title-div--second-title__right::after {
            display: none;
        }

        .hobby--title-div--second-title__left::before {
            display: none;
        }

    }

    .hobby--title-div__right {
        align-self: flex-end;
    }

    .hobby--title-div__left {
        align-self: flex-start;
    }


    .hobby--description {
        font-size: 0.6875rem; // == 11px
        margin-bottom: 5px;
    }

    .hobby--description__left {
        padding-left: 75+10+2px;  // 75px du hr width + 10 du hr margin + 2 des borders du hr
    }

    .hobby--description__right {
        padding-right: 75+10+2px;  // 75px du hr width + 10 du hr margin + 2 des borders du hr
        text-align: right;
    }

    .hobby--image {
        width: 69%;
        margin: 10px;
    }

    .hobby--image__right {
        align-self: flex-end;
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    &>* { /* tt les enfants de .portfolio (parent) */
        margin: 0px;
    }

    .portfolio--main-title {
        padding-left: 5px;
    }

    .portfolio--main-title::before {
        display: none;
    }

    .portfolio--title-div {
        display: flex;

        

        .portfolio--title-div--hr {
            width: 75px;
            height: 0.0001rem;
            align-self: center;
        }

        .portfolio--title-div--hr__left {
            margin: 0 10px 0 0;
        }

        .portfolio--title-div--hr__right {
            margin: 0 0 0 10px;
        }

        .portfolio--title-div--second-title {
            margin: 0;
        }

        .portfolio--title-div--second-title__left::before {
            display: none;
        }

        .portfolio--title-div--second-title__right::after {
            display: none;
        }
    }

    .portfolio--title-div__right {
        align-self: flex-end;
    }

    .portfolio--title-div__left {
        align-self: flex-start;
    }


    .portfolio--description {
        font-size: 0.6875rem; // == 11px
        margin-bottom: 5px;
    }

    .portfolio--description__left {
        padding-left: 75+10+2px;  // 75px du hr width + 10 du hr margin + 2 des borders du hr
    }

    .portfolio--description__right {
        padding-right: 75+10+2px;  // 75px du hr width + 10 du hr margin + 2 des borders du hr
        text-align: right;
    }

    .portfolio--image {
        width: 90%;
        margin: 10px 5% 10px 5%;
    }
    .portfolio--link--calc {
        display: flex;
        justify-content: center;
    }
    .portfolio--image--calc {
        width: auto;
        justify-self: flex-end;
    }
}